In [1]:
# iimport all the necessary packages
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
import pandas as pd

In [2]:
# import os and find the path
import os
print(os.getcwd())

/Users/alexandros.samartzis/Spiced_Academy/stationary-sriracha-student-code/Week_2/spiced_projects

In [3]:
# load data
titanik = pd.read_csv('train.csv',index_col=0)

In [4]:
# Delete unnecessary columns
del titanik['Ticket']
del titanik['Name']
del titanik['Cabin']

In [5]:
# Find in a table the NaN of each Column
titanik.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [6]:
# Find the unique values of the column
titanik['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

## Make a pipeline to Impute the NaN

In [7]:
titanik.head(1)

             Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
PassengerId
1                   0       3  male  22.0      1      0  7.25        S

In [8]:
# Find the dategorical and numerical features
cat = ['Sex',"Embarked"]
num = ["Survived","Pclass","Age","SibSp","Fare","Parch"]

In [9]:
# create a sequential pipeline for getting rid of the NaN for numerical
numeric_imputer = make_pipeline(
    SimpleImputer(strategy='mean')
    )

In [10]:
# create a sequential pipeline for getting rid of the NaN for numerical
categorical_imputer = make_pipeline(
    SimpleImputer(strategy='most_frequent')
    )

In [11]:
preprocessor_imputer = ColumnTransformer(
    transformers=[
        ("num_imputer", numeric_imputer, num),
        ("cat_imputer", categorical_imputer, cat)
    ],
    remainder='passthrough')

In [12]:
# create the model pipeline
pipeline_imputer = make_pipeline(preprocessor_imputer)

In [13]:
# fit the pipeline to training data
titanik_joker = pipeline_imputer.fit_transform(titanik)

In [14]:
# Create a Data Frame to feed with the previous columns of the initial DF
titanik_transf = pd.DataFrame(titanik_joker, columns = num + cat)

In [15]:
titanik_transf.isnull().sum()

Survived    0
Pclass      0
Age         0
SibSp       0
Fare        0
Parch       0
Sex         0
Embarked    0
dtype: int64