In [30]:
# iimport all the necessary packages
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
import pandas as pd
# import os and find the path
import os
print(os.getcwd())
# load data
titanik = pd.read_csv('train.csv',index_col=0)

# Delete unnecessary columns
del titanik['Ticket']
del titanik['Name']
#del titanik['Embarked']
del titanik['Cabin']
# Find in a table the NaN of each Column
titanik.isnull().sum()
# Find the unique values of the column
titanik['Embarked'].unique()
## Make a pipeline to Impute the NaN
titanik.head(1)
# Find the dategorical and numerical features
cat = ['Sex',"Embarked"]
num = ["Survived","Pclass","Age","SibSp","Fare","Parch"]
# create a sequential pipeline for getting rid of the NaN for numerical
numeric_imputer = make_pipeline(
    SimpleImputer(strategy='mean')
    )
# create a sequential pipeline for getting rid of the NaN for numerical
categorical_imputer = make_pipeline(
    SimpleImputer(strategy='most_frequent')
    )
preprocessor_imputer = ColumnTransformer(
    transformers=[
        ("num_imputer", numeric_imputer, num),
        ("cat_imputer", categorical_imputer, cat)
    ],
    remainder='passthrough')
# create the model pipeline
pipeline_imputer = make_pipeline(preprocessor_imputer)

/Users/alexandros.samartzis/Spiced_Academy/stationary-sriracha-student-code/Week_2/spiced_projects

In [41]:
cat + num

['Sex', 'Embarked', 'Survived', 'Pclass', 'Age', 'SibSp', 'Fare', 'Parch']

In [31]:
titanik_joker = pipeline_imputer.fit_transform(titanik)

In [42]:
# Create a Data Frame to feed with the previous columns of the initial DF
titanik_transf = pd.DataFrame(titanik_joker,columns = num + cat)

In [43]:
titanik_transf.head(1)

  Survived Pclass   Age SibSp  Fare Parch   Sex Embarked
0      0.0    3.0  22.0   1.0  7.25   0.0  male        S

In [20]:
titanik.head(1)

             Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
PassengerId
1                   0       3  male  22.0      1      0  7.25        S