In [1]:
import pandas as pd
import numpy as np
import random

In [29]:
# import the data
monday = pd.read_csv('../../data/monday.csv', parse_dates=True,sep = ';')
tuesday = pd.read_csv('../../data/tuesday.csv',  parse_dates=True,sep = ';')
wednesday = pd.read_csv('../../data/wednesday.csv',  parse_dates=True,sep = ';')
thursday = pd.read_csv('../../data/thursday.csv',  parse_dates=True,sep = ';')
friday = pd.read_csv('../../data/friday.csv',  parse_dates=True,sep = ';')
monday.head()

             timestamp  customer_no location
0  2019-09-02 07:03:00            1    dairy
1  2019-09-02 07:03:00            2    dairy
2  2019-09-02 07:04:00            3    dairy
3  2019-09-02 07:04:00            4    dairy
4  2019-09-02 07:04:00            5   spices

In [30]:
monday['customer_no']

0          1
1          2
2          3
3          4
4          5
        ...
4879    1442
4880    1444
4881    1445
4882    1446
4883    1447
Name: customer_no, Length: 4884, dtype: int64

In [40]:
monday['customer_id'] = 'm-'+(monday['customer_no']).astype(str)
tuesday['customer_id'] = 't-'+(tuesday['customer_no']).astype(str)
wednesday['customer_id'] = 'w-'+(wednesday['customer_no']).astype(str)
thursday['customer_id'] = 'th-'+(thursday['customer_no']).astype(str)
friday['customer_id'] = 'f-'+(friday['customer_no']).astype(str)

In [46]:
sm1 = monday.append(tuesday, ignore_index = True)
sm2 = sm1.append(wednesday, ignore_index = True)
sm3 = sm2.append(thursday, ignore_index = True)
sm = sm3.append(friday, ignore_index = True)

In [59]:
sort_sm = sm.sort_values(by=['customer_id','timestamp'])

In [60]:
sort_sm['location_next'] = sort_sm.location.shift(-1)

In [61]:
sort_sm.location.unique()

array(['dairy', 'spices', 'fruit', 'checkout', 'drinks'], dtype=object)

In [63]:
# notes about normalize use 
# If passed ‘index’ will normalize over each row.
# default is False , which will give you the count

P = pd.crosstab(
    sort_sm['location'], 
    sort_sm['location_next'], normalize='index')
P

location_next  checkout     dairy    drinks     fruit    spices
location
checkout       0.000000  0.287487  0.153317  0.377697  0.181499
dairy          0.390041  0.001069  0.222697  0.190212  0.195982
drinks         0.536748  0.027401  0.000000  0.219206  0.216645
fruit          0.498829  0.237993  0.137056  0.000390  0.125732
spices         0.250666  0.323655  0.272776  0.152637  0.000266