In [1]:
import pandas as pd

In [3]:
# 1. read the file into a DataFrame
df = pd.read_csv('./continents.csv', sep=';') # upload the data
df

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [4]:
# 2. display the number of rows and columns
df.shape

(194, 2)

In [5]:
# 3. display the first 5 countries in the alphabet
df.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [6]:
# 4. which continent has the most countries?
df['continent'].max()

'South America'

In [37]:
# 5. find out on which continent Cyprus is
df.loc[df['country']== 'Cyprus']
#df.loc[df['B'] == 3, 'A'].iloc[0]

    continent country
108    Europe  Cyprus

In [7]:
# 6. define a DataFrame with all African countries
africa = df.loc[df['continent'] == 'Africa'].head()
africa

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [52]:
# 7. define a DataFrame with countries 80 through 100
subset = df.iloc[80:101]['country']
subset

80                    Nepal
81                     Oman
82                 Pakistan
83              Philippines
84                    Qatar
85       Russian Federation
86             Saudi Arabia
87                Singapore
88                Sri Lanka
89                    Syria
90               Tajikistan
91                 Thailand
92                   Turkey
93             Turkmenistan
94     United Arab Emirates
95               Uzbekistan
96                  Vietnam
97                    Yemen
98                  Albania
99                  Andorra
100                 Armenia
Name: country, dtype: object

In [10]:
df.loc[::2]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]