In [1]:
import pandas as pd

spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]

#print(sort_values(by='participants', ascending=False))

#print("\ntotal participants:", df.sum(['participants']))

In [2]:
participants = [2, 6, 9, 9, 9, 8]

In [3]:
df = pd.DataFrame(participants,index=spices, columns = ['participants'])
df

                             participants
One-Hot Chili Peppers                   2
Bayesian Basil                          6
Tensor ThymeLinear Lavender             9
Artificial Neural Nutmeg                9
Polynomial Peppermint                   9
Sigmoid Saffron                         8

In [6]:
df.sort_values('participants', ascending=False)

                             participants
Tensor ThymeLinear Lavender             9
Artificial Neural Nutmeg                9
Polynomial Peppermint                   9
Sigmoid Saffron                         8
Bayesian Basil                          6
One-Hot Chili Peppers                   2

In [11]:
print("\ntotal participants:", df.sum())

total participants: participants    43
dtype: int64