In [1]:
import pandas as pd
import numpy as np

In [8]:
monday = pd.read_csv('../data/friday.csv', index_col=0, parse_dates=True,sep = ';')
sm.head()

                     customer_no  location
timestamp
2019-09-06 07:00:00            1     dairy
2019-09-06 07:00:00            2    drinks
2019-09-06 07:00:00            3     fruit
2019-09-06 07:01:00            2  checkout
2019-09-06 07:01:00            4    drinks